.balls-chocolate {
	margin-bottom: 20px;
}

.balls-chocolate {
	width: 100%;
	/* Ensures image takes the card width /
height: 90; / Maintains aspect ratio */
}

.balls-chocolate .price {
	font-weight: bold;
}

.chocolate-bars {
	margin-bottom: 20px;
}

.chocolate-bars {
	width: 100%;
	/* Ensures image takes the card width /
height: auto; / Maintains aspect ratio */
}

.chocolate-bars .price {
	font-weight: bold;
}

.heart-chocolate {
	margin-bottom: 20px;
}

.heart-chocolate {
	width: 100%;
	/* Ensures image takes the card width /
height: auto; / Maintains aspect ratio */
}

.heart-chocolate .price {
	font-weight: bold;
}